.bar::-webkit-scrollbar {
  width: 4px;
  background-color: blue;
  /* width of the entire scrollbar */
}

.bar::-webkit-scrollbar-track {
  background: orange;
  /* color of the tracking area */
}

.bar::-webkit-scrollbar-thumb {
  background-color: blue;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid orange;
  /* creates padding around scroll thumb */
}